.container{
  border: solid black 2px;
  width: 100%;
  padding: 5%;
}

#datos{
  border:solid black 2px;
  text-align: center;
  height: 20%;
}
#mis_skills{
    border:solid black 2px;
  margin-top: 10%;
  padding: 5%;
  text-align: center;
}
#mis_skills div{
    border:solid black 2px;
    padding: 5%;
    margin: 3%;
    text-align: center;
}

#exper{
  border:solid black 2px;
  padding:5%;
}
#exper div{
  border solid black 2px;
}
